.heading {
  margin: 1.5rem auto;
  font-size: 3rem;
  width: 50rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
}
.subheading {
  margin: 2rem 0 1rem 1rem;
  font-size: 2rem;
}
.images-cont {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.images {
  height: 14rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.images:hover {
  border-radius: 40px;
}
