.team-cont {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
}
.team-cont {
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.images {
  height: 20rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.images:hover {
  height: 21rem;
}
.team-text {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .team-cont {
    grid-template-columns: 1fr 1fr;
  }
  .images {
    height: 18rem;
  }
  .images:hover {
    height: 19rem;
  }
}
@media screen and (max-width: 600px) {
  .team-cont {
    grid-template-columns: 1fr;
  }
  .images {
    height: 15rem;
  }
  .images:hover {
    height: 16rem;
  }
}

@media screen and (max-width: 400px) {
  .team-cont {
    grid-template-columns: 1fr;
  }
  .images {
    height: 12rem;
  }
  .images:hover {
    height: 13rem;
  }
}
